@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: auto;
  width: 350px;
  background-color: rgb(242, 242, 242);
  padding: 20px;
  border-radius: 10px;
}

.input-div {
  margin-bottom: 10px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.input-div select,
input {
  height: 35px;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding-left: 10px;
  color: rgb(30, 30, 30);
}

::placeholder {
  color: rgb(196, 196, 196);
  font-weight: 100;
  letter-spacing: 2px;
}

.button {
  height: 35px;
  width: 100%;
  background: rgb(158, 2, 215);
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
}
.button:hover {
  transition: ease-in-out 0.1s;
  background: rgb(159, 21, 154);
}
.button:active {
  background: rgb(213, 115, 255);
}
.titulos {
  color: rgb(163, 163, 163);
}

.image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.image img {
  height: 100px;
}

.resultado {
  margin-top: 10px;
}

.footer {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
}

.footer span {
  font-size: 13px;
}
